.obstacle {
  position: absolute;
  border: 1px dotted;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.reverse {
  transform: rotateY(180deg);
}

.fireplace {
  background-image: url('../../resources/images/fireplace.gif');
}

.gray-couch-right {
  background-image: url('../../resources/images/gray-couch-right.png');
}

.blue-chair-back-angle {
  background-image: url('../../resources/images/blue-chair-back-angle.png');
}

.small-table-front {
  background-image: url('../../resources/images/small-table-front.png');  
}

.desk-back {
  background-image: url('../../resources/images/desk-back.png');  
}

.bed-side {
  background-image: url('../../resources/images/bed-side.png');  
}

.bed-2-side {
  background-image: url('../../resources/images/bed-2-side.png');  
}

.cabinet {
  background-image: url('../../resources/images/cabinet.png');  
}

.sink-cabinet {
  background-image: url('../../resources/images/sink-cabinet.png');  
}

.sink-cabinet-side {
  background-image: url('../../resources/images/sink-cabinet-side.png');  
}

.cabinet-side {
  background-image: url('../../resources/images/cabinet-side.png');  
}

.corner-cabinet {
  background-image: url('../../resources/images/corner-cabinet.png');  
}

.stove {
  background-image: url('../../resources/images/stove.png');  
}

.fridge {
  background-image: url('../../resources/images/fridge.png');  
}

.table {
  background-image: url('../../resources/images/table.png');  
}

.wooden-chair {
  background-image: url('../../resources/images/wooden-chair.png');  
}

.wooden-chair-back {
  background-image: url('../../resources/images/wooden-chair-back.png');  
}

.toilet {
  background-image: url('../../resources/images/toilet.png');  
}

.toilet-side {
  background-image: url('../../resources/images/toilet-side.png');  
}

.tub {
  background-image: url('../../resources/images/tub.png');  
  background-size: cover;
}

.sink {
  background-image: url('../../resources/images/sink.png');  
}