#piece {
  width: 14vh; 
  height: 14vh; 
  position: absolute;
  transform: translateX(-7vh) translateY(-12vh);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.stand-forward {
 background-image: url('../../resources/images/stand-front.gif');
}
.stand-forwardLeft{
 background-image: url('../../resources/images/stand-front-left.gif');
}
.stand-forwardRight{
 background-image: url('../../resources/images/stand-front-right.gif');
}
.stand-back {
 background-image: url('../../resources/images/stand-back.gif');
}
.stand-backRight {
 background-image: url('../../resources/images/stand-back-right.gif');
}
.stand-backLeft {
 background-image: url('../../resources/images/stand-back-left.gif');
}
.stand-left{
 background-image: url('../../resources/images/stand-left.gif');
}
.stand-right{
 background-image: url('../../resources/images/stand-right.gif');
}

.forward {
 background-image: url('../../resources/images/santaforward.gif');
}
.forwardLeft{
 background-image: url('../../resources/images/santaforwardleft.gif');
}
.forwardRight{
 background-image: url('../../resources/images/santaforwardright.gif');
}
.back {
 background-image: url('../../resources/images/santaback.gif');
}
.backRight {
 background-image: url('../../resources/images/santabackright.gif');
}
.backLeft {
 background-image: url('../../resources/images/santabackleft.gif');
}
.left{
 background-image: url('../../resources/images/santaleft.gif');
}
.right{
 background-image: url('../../resources/images/santaright.gif');
}