#piece {
  width: 14vh; 
  height: 14vh; 
  position: absolute;
  
  background-image: url(../../resources/images/santa.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

