#piece {
  width: 14vh; 
  height: 14vh; 
  position: absolute;
  transform: translateX(-7vh) translateY(-6vh);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

