.App {
  text-align: center;
}

.App * {
  box-sizing: border-box;
}


@media (prefers-reduced-motion: no-preference) {
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

#gameboard {
  width: 100vh;
  height: 100vh;
  position: relative;
  background-image: url('./resources/images/floor.jpg');
  background-color: #FFFFFF05;
}

body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
   content: url(./resources/images/floor.jpg) url(./resources/images/floor.jpg); /*preload images*/
}